{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Invoicing" "service:invoice_list" %}
{% endblock breadcrumbs %}
{% block content %}
    {% load static %}
	<div class="container">
        <div><small class="text-muted">{% render_breadcrumbs %}</small></div>
        <h1>{{ title }}</h1>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-condensed table-dark">
                    <tr>
                        <th>Invoice Date</th>
                        <th>Customer</th>
                        <th>Actions</th>
                    </tr>
                    {% for o in out %}
                        <tr>
                            <td>{{ o.date_entered }}</td>
                            <td><a href="{% url 'customers:customer_detail' o.service_ticket.customer_id  %}">{{ o.service_ticket.customer }}</a></td>
                            <td>
                                <a href="{% url 'service:invoice_detail' o.id %}"><i class="fa fa-info"></i></a>&nbsp;
                                <a href="{% url 'service:invoice_update' o.id %}"><i class="fa fa-edit"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
