{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Service Requests' 'service:ticket_list' %}
    {% breadcrumb 'Request Detail' 'service:ticket_detail' object.id tix.0.id %}
{% endblock breadcrumbs %}
{% block content %}
    {% load static %}
	<div class="container">
        <div><small class="text-muted">{% render_breadcrumbs %}</small></div>
        <h1>{{ title }}</h1>
        <div class="row">
            <div class="col-sm-12">
                <div class="card bg-dark">
                    <div class="card-header">
                        <p><a href="{% url 'customers:customer_detail' object.customer_id %}">{{ object.customer }}</a> | {{ object.service_date }}&nbsp;<a href="{% url 'service:ticket_update' object.customer_id object.id %}"><i class="fa fa-edit"></i></a></p>
                    </div>
                    <div class="card-body">
                        <p><a href="{% url 'customers:spa_detail' object.customer_id object.spa_id %}">{{ object.spa }}</a></p>
                    </div>
                    <div class="card-body">
                        <p>{{ object.primary_issue }}</p>
                    </div>
                    <div class="card-footer">
                        Complete: {{ object.is_complete }} | Date complete: {{ object.date_completed }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
