{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Customers" "customers:customer_list" %}
{% endblock breadcrumbs %}
{% block content %}
    {% load static %}
	<div class="container">
        <div><small class="text-muted">{% render_breadcrumbs %}</small></div>
        <h1>{{ title }}</h1>
        <div class="row">
            <div class="col-sm-12">
                <div class="card bg-dark">
                    <div class="card-header">
                        <p>{{ object.customer_name }}&nbsp;
                            <a href="{% url 'customers:customer_update' object.id %}" title="Edit customer"><i class="fa fa-edit"></i></a>
                            &nbsp;<a href="{% url 'service:ticket_new' object.id %}" title="Create Service Request"><i class="fa fa-plus"></i></a>
                        </p>
                    </div>
                    <div class="card-body">
                        <table class="table table-condensed">
                            <tr>
                                <td>Contact Name:</td>
                                <td>{{ object.contact_first }} {{ object.contact_last }}</td>
                            </tr>
                            <tr>
                                <td>Contact Info: </td>
                                <td>{{ object.contact_phone }}&nbsp;|&nbsp;{{ object.contact_email }}</td>
                            </tr>
                            <tr>
                                <td>Spa Info:<br>({{ spas.count }} spa) <a href="{% url 'customers:spa_new' object.id %}" title="Add spa"><i class="fa fa-plus"></i></a></td>
                                <td>
                                    {% for s in spas %}
                                        <p>
                                            <a href="{% url 'customers:spa_detail' object.id s.id %}">{{ s.spa_make }} {{ s.spa_model }}<br>{{ s.serial_number }}</a><br>
                                            <a href="{% url 'customers:spa_update' object.id s.id %}" title="Edit Spa Info"><i class="fa fa-edit"></i></a>
                                        </p>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <td>Notes:</td>
                                <td>{{ object.customer_notes }}</td>
                            </tr>
                            <tr>
                                <td>Service History:</td>
                                <td>
                                    {% for tix in service_tix %}
                                        <p>Service Date: <a href="{% url 'service:ticket_detail' object.id tix.id %}">{{ tix.service_date }}</a> | Is Complete: {{ tix.is_complete }}</p>
                                    {% endfor %}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}