{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Customers" "customers:customer_list" %}
    {% breadcrumb object.customer 'customers:customer_detail' object.customer_id %}
    {% breadcrumb 'Spa Detail' 'customers:spa_detail' object.customer_id object.id %}
{% endblock breadcrumbs %}
{% block content %}
    {% load static %}
	<div class="container">
        <div><small class="text-muted">{% render_breadcrumbs %}</small></div>
        <h1>{{ title }}</h1>
        <div class="row">
            <div class="col-sm-12">
                <div class="card bg-dark">
                    <div class="card-header">
                        <p>{{ object.spa_make }}&nbsp;{{ object.spa_model }}&nbsp;<a href="{% url 'customers:spa_update' object.customer_id object.id %}"><i class="fa fa-edit"></i></a></p>
                    </div>
                    <div class="card-body">
                        Serial: {{ object.serial_number }}<br>
                        Subpanel: {{ object.spa_subpanel }}<br>
                        Water System: {{ object.water_system }}<br>
                        Notes: {{ object.spa_note }}
                    </div>
                    <div class="card-footer">
                        {% for t in tix %}
                            <p><a href="{% url 'service:ticket_detail' t.customer_id t.id %}">{{ t.service_date }}</a> - {{ t.primary_issue }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}